.blog-section {
  position: relative;
  background: url('/images/Line_2-8.png');
  color: #fff;
  overflow: hidden;
  background-size: 100% 75%;
  background-position: center 80%;
  background-repeat: no-repeat;

}


.blog-main-page {
  position: relative;
  z-index: 1;
}


.blog-main-page {
  position: relative;
  background: url('/images/Flower_Brown.png') right 50% / 100% 80% no-repeat;
  overflow: hidden;
  background-size: 15% 30%;
  background-position: right 106%;
  /* pseudo-element bahar na nikle */
}

.blog-main-page::before {
  content: "";
  position: absolute;
  inset: 0;
  /* top, right, bottom, left = 0 */
  background: url('/images/Flower_Brown.png') right 50% / 100% 80% no-repeat;
  transform: scale(-1, -1);
  /* ✅ sirf image invert hogi */
  /* optional transparency */
  pointer-events: none;
  /* overlay click block na kare */
  z-index: 0;
  background-size: 20% 45%;
  background-position: inherit;
}

.home-highlights_text {
  text-align: left;
}

@media only screen and (max-width:768px) {
  .blog-main-page {
    background-size: 60% !important
  }

  .blog-main-page::before {
    background-size: 60% !important
  }

}